h2 {
  text-align: center;
}

.slider-carousel{
  position: relative;
  width: 50%;
  padding: 1%;
  margin: auto;
  overflow: hidden;

}
.slider-carousel img{
  width: 100%;
  display: none;
  /*flex:0 0 100%*/

}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides-text {
  justify-content: center;
position: absolute;
bottom: 0;
width: 103%;
display: flex;
font-size: 20px;
align-items: center;
color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0.3);
height: 35px;
}

.playButton {
  display: block;
  margin: auto;
  font-size: 2rem;

}
.slider-carousel button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

