
.container {
    text-align: center;
    margin-top: 50px;
  }

  .droptown button {
    cursor: pointer;
  }

  .droptown a {
    display: block;
  }

  .droptown:hover .content {
    display: block;
  }